*.iml
.gradle
/.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
/outputs/
/task_err.txt
.mimocode/
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
/release/
play-api.json
play-service-account.json
fastlane/play-*.json
fastlane/report.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
